################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/SoftwareDesign/bin
/SoftwareDesign/obj/Debug
/SoftwareDesign.Tests/obj/Debug
