################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/SoftwareDesign.UI/bin
/SoftwareDesign.UI/obj/Debug
/SoftwareDesign.Business/bin
/SoftwareDesign.Business/obj/Debug
/SoftwareDesign.Model/bin
/SoftwareDesign.Model/obj/Debug
/SoftwareDesign.Repository/bin
/SoftwareDesign.Repository/obj/Debug
/.vs/SoftwareDesign/v15/Server/sqlite3
/SoftwareDesign.API/bin
/SoftwareDesign.API/obj/Debug
/SoftwareDesign.Business.Test/bin/Debug
/SoftwareDesign.Business.Test/obj/Debug
