################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/SoftwareDesign.View/bin
/SoftwareDesign.View/obj/Debug
/SoftwareDesign.Model/bin
/SoftwareDesign.Model/obj/Debug
/.vs/SoftwareDesign/v15/Server/sqlite3
/SoftwareDesign.API/bin
/SoftwareDesign.API/obj/Debug
/SoftwareDesign.ControllerLayer.Business.Test/bin/Debug
/SoftwareDesign.ControllerLayer.Business.Test/obj/Debug
/SoftwareDesign.ControllerLayer.Business/bin/Debug
/SoftwareDesign.ControllerLayer.Business/obj/Debug
/SoftwareDesign.ControllerLayer.API/bin
/SoftwareDesign.DataAccessLayer/bin/Debug
/SoftwareDesign.DataAccessLayer/obj/Debug
/SoftwareDesign.ThirdPartyCreditCard/bin
/SoftwareDesign.ThirdPartyCreditCard/obj/Debug
