
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.ActionLink("=> Click Here => Search Package Action", "Search", new { transportId = 1, hotelId = 1, startDate = DateTime.Now, endDate = DateTime.Now })