
@{
    ViewBag.Title = "ManagePackage";
}

<h2>ManagePackage</h2>

@Html.ActionLink("=> Click Here => View Package Action", "View", new { transportId = 1, hotelId = 1, startDate = DateTime.Now, endDate = DateTime.Now })