@model string
<div>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title" id="myModalLabel">Payment Info</h4>
    </div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.ValueFor(model => model)
        </dt>
    </dl>
    <hr />
    @Html.ActionLink("Close","Search")
</div>
