
@{
    ViewBag.Title = "ManagePackage";
    Layout = "_LayoutAdmin";
}

<h2>ManagePackage</h2>

@Html.ActionLink("=> Click Here => Manage Package Action", "View", new { transportId = 1, hotelId = 1, startDate = DateTime.Now, endDate = DateTime.Now })